@import 'reset.css';
@import 'greeting.css';

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.done {
  text-decoration: line-through;
}
