@import 'reset.css';
@import 'greeting.css';
@import 'bar.css';

body {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.done {
  text-decoration: line-through;
}
